<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

{% assign thumb_blocks = section.blocks | where: 'type', 'thumbs' %}
{% assign images_blocks = section.blocks | where: 'type', 'imagez' %}

<div class="wrapper__ls">
  <div class="colors section__colors">

    <div class="colors__head">
      <h3 class="colors__title">{{ section.settings.section_title }}</h3>
      <div class="colors__copy">{{ section.settings.section_copy }}</div>
    </div>

    <div class="colors__selection-wrapper">
      <div class="colors__thumbs">
        <div class="colors__thumbs-title">{{ section.settings.thumbs_title }}</div>
        <div class="swiper swiper-thumbs">
          <div class="swiper-wrapper">
            {% for block in thumb_blocks %}
              <div class="swiper swiper-slide">
                <div class="colors__thumb" style="background-color: {{ block.settings.thumb_color }}" data-option="{{ forloop.index }}">
                  <span class="colors__thumb-name">{{ block.settings.thumb_name }}</span>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev colors__arrow colors__arrow--left">{% render 'icons',icon:'arrow-left--slider'%}</div>
          <div class="swiper-button-next colors__arrow colors__arrow--right">{% render 'icons',icon:'arrow-right--slider'%}</div>
        </div>
      </div> 
      <div class="colors__gallery">
        <div class="colors__gallery-inner">
          <div class="colors__gallery-images">
            <div class="swiper swiper-images">
              <div class="swiper-wrapper">
                {% for block in images_blocks %}
                  <div class="swiper-slide">
                    <div class="colors__gallery-image" data-option="{{ forloop.index }}">
                      <picture>
                        <source media="(max-width:639px)" srcset="{{block.settings.image_desk | img_url: 'master' }}">
                        <source media="(min-width:640px)" srcset="{{block.settings.image_desk | img_url: 'master' }}">
                        <img src="{{block.settings.image_desk | img_url: 'master' }}" alt="SS">
                      </picture>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="colors__gallery-content">
            <div class="colors__gallery-content-inner">
              <div class="colors__gallery-title">Dunmore Cane Credenza</div>
              <div class="colors__gallery-price">from <strong> $3,195</strong> </div>
              <a href="#" class="btn btn-link colors__gallery-cta">
                <span>start a custom color project</span>
                {% render 'icons',icon:'arrow-right--large'%}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name":"Endless",
  "settings": [
    {
      "type": "html",
      "id" : "section_title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id" : "section_copy",
      "label": "Section Copy",
      "default": "Over 50+ designs available in any Sherwin Williams or Benjamin Moore color finish. You dream, we create!"
    },
    {
      "type": "text",
      "id" : "thumbs_title",
      "label": "thumbs Title",
      "default": "SELECT A COLOR"
    }
  ],
  "blocks": [
    {
      "type": "thumbs",
      "name" : "Colors Thumbnails",
      "settings" :[
        {
          "type": "text",
          "id" : "thumb_name",
          "label": "Thumb Name",
          "default": "Rockwood Jade SW-2812"
        },
        {
          "type": "color",
          "id": "thumb_color",
          "label": "Thumbnail Color",
          "default": "#f00"
        }
      ]
    },
    {
      "type": "imagez",
      "name" : "Colors Images",
      "settings" :[
        {
          "type":"image_picker",
          "id" : "image_desk",
          "label": "Image Desk"
        },
        {
          "type":"image_picker",
          "id" : "image_mob",
          "label": "Image Mobile"
        }
      ]
    }
  ]
} 
{% endschema %} 

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script>
  const imagez = new Swiper('.swiper-images', {
      slidesPerView: 1,
      slidesPerColumn: 1,
      effect: "fade",
      fadeEffect: {
      crossFade: true,
      }
  });


  const thumbs = new Swiper('.swiper-thumbs', {
    slidesPerView: 7.25,
    spaceBetween: 1,
    centeredSlides: true,
    slideToClickedSlide: true,
    loop: true,
    breakpoints: {
      320: {
        slidesPerView: 7.25,
        followFinger: true,
      },
      1023: {
        slidesPerView: 11.5,
        initialSlide: 5,
      },
    },


    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    thumbs: {
      swiper: imagez,
    },
  });

    // thumbs.controller.control = imagez;
    // imagez.controller.control = thumbs;
</script>
