{% if section.settings.topbar_enabled %}
<div class="section topbar">

    <div class="topbar__col topbar__col--left">
        <div class="topbar__message">
            {% if section.settings.topbar_message %} 
                <p>{{ section.settings.topbar_message }} <a class="topbar__readmore" href="{{ section.settings.readmore_link }}">{{ section.settings.readmore_label }}</a>. </p>
            {% endif %}
        </div>

        <!-- {% if section.settings.offers_label %}
            <button class="topbar__cta">{{ section.settings.offers_label }}{% render 'icons',icon:'arrow-right', class:'topbar__icon topbar__icon--cart'%}</button>
        {% endif %} -->
    </div>

    <div class="topbar__col topbar__col--right above768-only">
        <div class="topbar__nav">
            <ul class="topbar__navList">
                {% for block in section.blocks %}
                    <li class="topbar__navItem"><a href="{{ block.settings.nav_link }}">{{ block.settings.nav_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% include 'topbar-icons' %}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name":"Topbar",
    "settings":[
        {
            "type":"checkbox",
            "id":"topbar_enabled",
            "label":"Show Topbar",
            "default":true
        },
        {
            "type":"checkbox",
            "id":"topbar_home_page_only",
            "label":"Show on home page only",
            "default":true
        },
        {
            "type":"text",
            "id":"topbar_message",
            "label":"announcement message",
            "default":"UPHOLSTERY ORDERS MAY BE DELAYED DUE TO COVID-19."
        },
        {
            "type":"text",
            "id":"readmore_label",
            "label":"read more label",
            "default":"Read more"
        },   
        {
            "type":"url",
            "id":"readmore_link",
            "label":"read more link"
        },   
        {
            "type":"text",
            "id":"offers_label",
            "label":"view offers label",
            "default":"View Offers"
        }   
    ],
    "blocks": [
        {
            "type": "navigation",
            "name" : "topbar navigation",
            "settings" :[  
                {
                    "type": "text",
                    "id" : "nav_title",
                    "label": "nav item"
                },
                {
                    "type":"url",
                    "id":"nav_link",
                    "label":"nav link"
                }
            ]
        }
    ]
}
{% endschema %}