{% assign collection_image = collection.image | img_url: 'master' %}
{% assign collection_title = collection.title %}
{% assign collection_description = collection.description %}


<section class="plp section__plp">
<div class="plp__head">
  <div class="wrapper__ls">
    {% if collection_image %}
    <picture class="plp__picture">
      <source media="(max-width:639px)" srcset="{{ collection_image }}">
      <source media="(min-width:640px)" srcset="{{ collection_image }}">
      <img src="{{ collection_image }}">
    </picture>
  {% endif %}

  <ul class="plp__breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/collections">collections</a></li>
    <li><a href="{{ collection.url }}">{{ collection_title }}</a></li>
  </ul>

  <div class="plp__copy">
    {% if collection_title %}
      <h2 class="plp__title">{{ collection_title }}</h2>
    {% endif %}

    {% if collection_description %}
      <p class="plp__description">{{ collection_description }}</p>
    {% endif %}
  </div>

  </div>
</div>
<div class="plp__body">
    <div class="plp__sort">
      <span class="plp__sort-title">Sort by</span>
      <div class="plp__sort-wrapper">
        <select id="sort-by" class="plp__sort-select">
          {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

          {% for option in collection.sort_options %}
            <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
              {{ option.name }}
            </option>
          {% endfor %}
        </select>
        <div class="plp__sort-arrow">{% render 'icons',icon:'arrow-down'%}</div>
      </div>
    </div>

    <div class="plp__productMain">
      <div class="plp__productWrapper">
        <div class="plp__productGrid">
          {% for product in collection.products %}
          <div class="product">
            <a href="{{ product.url }}">
              <div class="product__image">
                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                <div class="product__atw">{% render 'icons',icon:'heart'%}</div>
              </div>
              <div class="product__meta">
                <div class="product__title">{{ product.title }}</div>
                <div class="product__price">{{ product.price | money }}</div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="btn plp__load-more js_loadMore">{% render 'icons',icon:'arrow-right--large'%} Load More</div>
      </div>
    </div>


  </div>
</section>

<script>
// Shopify.queryParams = {};

// // Preserve existing query parameters
// if (location.search.length) {
//   var params = location.search.substr(1).split('&');

//   for (var i = 0; i < params.length; i++) {
//     var keyValue = params[i].split('=');

//     if (keyValue.length) {
//       Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
//     }
//   }
// }

// // Update sort_by query parameter on select change
// document.querySelector('#sort-by').addEventListener('change', function(e) {
//   var value = e.target.value;

//   Shopify.queryParams.sort_by = value;
//   location.search = new URLSearchParams(Shopify.queryParams).toString();
// });
</script>


