<nav class="nav nav--mobile below1366-only">
    <button class="nav__toggler js-nav-trigger" type="button">
      <span class="nav_toggler--icon icon--menu">{% render 'icons',icon:'toggler' %}</span>
      <span class="nav_toggler--icon icon--close">{% render 'icons',icon:'cross' %}</span>
    </button>


    <div class="mobileNav">
        <ul class="mobileNav__list">
            {% for link in linklists[section.settings.menu].links %}
                {% if link.links != blank %}
                    <li class="mobileNav__item mobileNav__item--hasSubnav">
                        <span class="mobileNav__title js-toggle-subanv" data-target="{{link.title| handleize}}">{{link.title}} {% render 'icons', icon:'arrow-right' %}</span>
                        <ul class="mobileNav__list mobileNav__subnavList" id="{{link.title| handleize}}">
                            <li class="mobileNav__item mobileNav__subnavItem mobileNav__subnavItem--back">
                                <span data-target="{{link.title| handleize}}" class="js-toggle-subanv">{% render 'icons', icon:'arrow-right' %} <span class="mobileNav__text">Back</span></span>
                            </li>
                            <li class="mobileNav__item mobileNav__subnavItem mobileNav__subnavItem--title">
                                <span class="mobileNav__title">{{link.title}}</span>
                            </li>
                            {% for child_link in link.links %}
                                <li class="mobileNav__item mobileNav__subnavItem">
                                    <a href="{{child_link.url}}" class="mobileNav__link">{{child_link.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="mobileNav__item">
                        <span class="mobileNav__title js-toggle-subanv" data-target="{{link.title| handleize}}">{{link.title}} </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>



  </nav>