<nav class="header__block nav above1366-only" role="navigation">
  <ul class="nav__list">
    {% for link in linklists[section.settings.menu].links %}
      {% if link.links != blank %}
        <li class="nav__item {% if link.links != blank %}nav__item--mega{% endif %}">
          <a class="nav__item-link" href="{{ link.url }}">{{ link.title }}</a>
          <div class="megamenu">
            <div class="megaMenu__container">
              <div class="megamenu__inner">
                {% for childLink in link.links %}
                  <div class="megamenu__block">
                    <a class="megamenu__title" href="{{ childLink.url }}">{{ childLink.title }}</a>
                    <ul class="megamenu__list">
                      {% for grandChildLink in childLink.links %}
                        <li class="megamenu__item">
                          <a class="megamenu__item-link" href="{{ grandChildLink.url }}">{{ grandChildLink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}

                <div class="megaMenu__block megaMenu__card">
                  {% for block in section.blocks %}
                    {% assign blockName = block.settings.card_name | downcase %}
                    {% assign linkTitle = link.title | downcase %}
                    {% if blockName == linkTitle %}
                      <a class="megaMenu__card-link" href="{{ block.settings.card_url }}">
                        <h5 class="megaMenu__card-title"> {{ block.settings.card_title }} </h5>
                        <div class="megaMenu__card-image ">
                          {{ block.settings.card_image | image_url: width: 298 | image_tag }}
                        </div>
                      </a>
                    {% else %}
                    {% endif %}
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
        </li>
      {% else %}
        <li class="nav__item">
          <a class="nav__item-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>