<div class="product-thumbnail">
    <a href="{{ product.url | within: collection }}" class="product-image">
    <div class="tagger">
        <img src="{{ 'popular.svg' | asset_url }}" alt="popular"></div>
    {% if product.featured_image != blank %}
      {% include 'responsive-image' with image: product.featured_image, max_width: 767, max_height: 767 %}
      {% endif %}
    </a>
    <div class="row">
      <div class="col">
        <div class="product-title">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </div>               
      </div>
      <div class="col">
        <div class="product-price">
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {% comment %} {{ 'products.product.on_sale_from_html' | t: price: sale_price }} {% endcomment %}
            {% else %}
              {% comment %} {{ 'products.product.on_sale' | t }} {% endcomment %}
              <span class="sale-price">{{ product.price | money }}</span>
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {% comment %} {{ 'products.product.from_text_html' | t: price: price }} {% endcomment %}
            {% else %}
              <span class="sale-price">{{ product.price | money }}</span>
            {% endif %}
          {% endif %}

          {% if product.compare_at_price > product.price %}
            {% comment %} <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> {% endcomment %}
            <span class="regular-price">{{ product.compare_at_price | money }}</span>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </div>
      </div>
    </div>
    <div class="thumb-footer">
      <div class="row">
        <div class="col"><div class="desc">{{ product.description }}</div></div>
        <div class="col">
          <div class="btn-holder">
            <a href="{{ product.url | within: collection }}" class="btn btn-primary">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>